body {
  font-family: monospace, sans-serif, Helvetica, Arial;
  font-size: 15px;
  line-height: 1.5;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
}

  .container{
    position: relative;
    width:100%;
    margin:auto;
    text-align: center;
    overflow:hidden;
    font: sans-serif;
    /* display: none; */
    /* opacity: 0; */
  }
  .container_intro {
    position: relative;
    width:100%;
    margin:auto;
    text-align: center;
    overflow:hidden;
    padding-top: 40px;
    font: monospace;
    margin-top: 50px;
  }



  #Videos{
    margin-top: 50px;

  }

  #Videos .box{

    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 20px;

  }

img {
  width: 50px;
  height: 175px;
  float: left;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

#video_container {
  background-color: #F5F5F5;
  border-style: groove;
  text-align: center;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 30px;

}


header ul{
  margin: 0;
  padding: 0;
}

/* header */
header{
  background-color: #000000;
  color: #ffffff;

  min-height: 45px;
  margin-bottom: 40px;
}

header a{
  color: #ffffff;

  font-size: 16px;
  text-decoration: none;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: left;
  margin-top: 10px;
}

header .current a{

  font: monospace;
}

header a:hover{
  /* background-color: #000000; */
  color: #ffffff;
  font-weight: bold;

}

.intro{
  margin-top: 50px;
  width: 100%;
  /* margin: 0 auto; */
}

.fly-in-text li:hover{
  /* color: #ffffff; */
  font-style: italic;
  /* font-size: 45px; */
}

#nav{
  /* max-width: 1500; */

}

.fly-in-text{
  width: 90%;
  list-style: none;
  position: absolute;
  left: 48%;
  margin-top: 40px;
  padding-top: 100px;
  transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li{
  display: inline-block;
  margin-right: 2px;
  font-family: monospace;
  font-weight: 300;
  font-size: 25px;
  color: #000000;
  opacity: 1;
  transition: all 2.5s ease;
}

.fly-in-text li:last-child{
  margin-right: 0;
}

.fly-in-text.hidden li{
  opacity:0;
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-100px) translateY(80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(75px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-190px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(140px) translateY(50px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(-100px) translateY(-50px); }
.fly-in-text.hidden li:nth-child(8) { transform: translateX(60px) translateY(115px); }
.fly-in-text.hidden li:nth-child(9) { transform: translateX(-150px) translateY(150px); }
.fly-in-text.hidden li:nth-child(10) { transform: translateX(110px) translateY(-175px); }
.fly-in-text.hidden li:nth-child(11) { transform: translateX(-90px) translateY(-70px); }


.Bio-Fly-in{
  width: 100%;
  list-style: none;
  position: absolute;
  left: 48%;
  margin-top: 10px;
  transform: translateX(-50%) translateY(-50%);
}

.Bio-Fly-in li{
  display: inline-block;
  margin-right: 2px;
  font-family: monospace;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
  opacity: 1;
  transition: all 2.5s ease;
}

.Bio-Fly-in li:last-child{
  margin-right: 0;
}

.Bio-Fly-in.hidden li{
  opacity:0;
}

.Bio-Fly-in.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.Bio-Fly-in.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.Bio-Fly-in.hidden li:nth-child(3) { transform: translateX(-100px) translateY(80px); }

.Videos-Fly-in{
  width: 100%;
  list-style: none;
  position: absolute;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 100px;
  /* padding-bottom:50px */
  /* top: 50%; */
  transform: translateX(-50%) translateY(-50%);
}

.Videos-Fly-in li{
  display: inline-block;
  /* letter-spacing: 1.5px; */
  margin-right: 2px;
  font-family: monospace;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
  opacity: 1;
  transition: all 2.5s ease;
}

.Videos-Fly-in li:last-child{
  margin-right: 0;
}

.Videos-Fly-in.hidden li{
  opacity:0;
}

.Videos-Fly-in.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.Videos-Fly-in.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.Videos-Fly-in.hidden li:nth-child(3) { transform: translateX(-100px) translateY(80px); }
.Videos-Fly-in.hidden li:nth-child(4) { transform: translateX(-200px) translateY(-200px); }
.Videos-Fly-in.hidden li:nth-child(5) { transform: translateX(20px) translateY(100px); }
.Videos-Fly-in.hidden li:nth-child(6) { transform: translateX(-100px) translateY(80px); }

.Contact-Fly-in{
  width: 100%;
  list-style: none;
  position: absolute;
  left: 48%;
  margin-top: 10px;
  margin-bottom: 100px;
  transform: translateX(-50%) translateY(-50%);
}

.Contact-Fly-in li{
  display: inline-block;
  margin-right: 2px;
  font-family: monospace;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
  opacity: 1;
  transition: all 2.5s ease;
}

.Contact-Fly-in li:last-child{
  margin-right: 0;
}

.Contact-Fly-in.hidden li{
  opacity:0;
}

.Contact-Fly-in.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.Contact-Fly-in.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.Contact-Fly-in.hidden li:nth-child(3) { transform: translateX(-100px) translateY(80px); }
.Contact-Fly-in.hidden li:nth-child(4) { transform: translateX(-200px) translateY(-200px); }
.Contact-Fly-in.hidden li:nth-child(5) { transform: translateX(20px) translateY(100px); }
.Contact-Fly-in.hidden li:nth-child(6) { transform: translateX(-100px) translateY(80px); }
.Contact-Fly-in.hidden li:nth-child(7) { transform: translateX(-100px) translateY(80px); }

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  border: 1px solid #ccc;
  color: black;
  padding: 12px 20px;
  /* border: none; */
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d3d3d3;

}

.row {
  padding-top: 50px;
  position: relative;
  width: 100%;
  right: 0px;
  float:left;
  padding-left: 10px;
  text-align: center;
}

.container_note {
  text-align: center;
  padding-right: 0px;
}



@media only screen and (min-width: 768px) {
  .intro {
    display: inline;
  }
  .container{
    position: relative;
    width:65%;
    margin:auto;
    text-align: center;
    overflow:hidden;
    font: monospace;
  }

  .container_intro {
    width:65%;
    margin:auto;
    text-align: center;
    overflow:hidden;
    /* position:relative; */
    font: monospace;
    margin-left: 150px;

  }
  img {
    width: 70px;
    height: 240px;
    float: left;
    margin-left: 40px;
  }


  #Videos{
    margin-top: 50px;

  }

  #Videos .box{
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 20px;

  }

  .fly-in-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .fly-in-text li{
    font-size: 35px;
  }
  #video_container {
    background-color: #F5F5F5;
    border-style: groove;
    text-align: center;
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
  .row {
    padding-top: 50px;
    width: 50%;
    float:left;
    padding-right: 150px;
    padding-left: 130px;
  }

}

@media only screen and (min-width: 1000px) {
  .intro {
    display: inline;
    margin-top: 100px;
  }
  .container{
    width:65%;
    margin:auto;
    text-align: center;
    overflow:hidden;
    /* position:relative; */
    font: monospace;
    margin-left: 250px;
  }

  .container_intro {
    width:65%;
    margin:auto;
    text-align: center;
    overflow:hidden;
    font: monospace;
    margin-left: 250px;
    padding-top: 150px;

  }
  .fly-in-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fly-in-text li{
    font-size: 40px;
  }
  .fly-in-text li:hover{
    font-style: italic;
  }

  img {
    width: 130px;
    height: 450px;
    float: left;
    margin-left: 50px;
    margin-right: 20px;
  }


  #Videos .box{
    text-align: center;
    padding: 10px;
    padding-left:200px;
    margin-bottom: 20px;
  }
  .container_note {
    text-align: center;
    padding-right: 0px;
  }

  .row {
    padding-top: 50px;
    position: relative;
    width: 40%;
    padding-bottom: 20px;
    padding-left: 280px;

  }

}
